<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mapa1.My.MySettings.ConnectionString_ERGHT" connectionString="DATA SOURCE=ENCELADUS.energa.loc:1521/SRV_ERGHT;LOAD BALANCING=True;PASSWORD=szafran1;PERSIST SECURITY INFO=True;USER ID=SKOME"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>